html{
	width:100%;
	font-size:1em;
}
*{
	margin:0;
	padding:0;
}
body{
	background-color:#f9f9f9;
}
img{
	border:0;
	vertical-align: middle;
}
i{
	font-style:normal;
}
/*header-top*/
/*header-css*/
.headerBox{
	width:100%;
	height:175px;
	background-color:#333333;	
	text-align: left;
}
.headerBox a:hover{
	color:#fff;
}
.headChildTop{
	width:1080px;
	margin:0 auto;
	height: 30px;
	
}
.header-nav{
	height:30px;
	float:left;
	line-height:30px;
}
.header-nav li{
	list-style:none;
	float:left;
}
.header-nav li a{
	text-decoration: none;
	color:#cbcbcb;
	font: 0.75rem "Microsoft YaHei", 微软雅黑, 宋体, Arial, Helvetica, sans-serif;
}
.headChildTop ul li b{
	display: inline-block;
    width: 1px;
    height: 11px;
    margin: 0 18px;
    background: #cbcbcb;
    vertical-align: middle;
}
.header-nav-right{
	float: right;
	background-color:#333333; 
}
.header-nav-right li{
	display: inline-block;
}
.user-login{
	margin-right: 1.25rem;
}
/*header-right-css*/
.user-app{
	position: relative;
}
.apphover{
	display: none;
	position: absolute;
	 top: 25px;
    left: -28px;
    z-index: 15;
}
.apphover i{
	position: relative;
	display: block;
	background:url(img/triangle.png) no-repeat;
	width:30px;
	height:15px;
	margin: 0 auto;
	background-size:100% 100%;
	z-index: 1;
}
.apphover dl{
	padding: 15px 10px 10px;
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 1px 10px 4px rgba(0,0,0,.05);
}
.apphover dt{
	width: 40px;
    height: 40px;
    margin: 0 auto;
    background: url(img/appLogo.png) no-repeat;
}
.apphover dd{
	line-height: 24px;
    font-size: 12px;
    color: #523669;
    text-align: center;
}
.apphover dd>h2{
	font-weight: 400;
	font-size: 12px;
}
.apphover dd>p{
	margin:10px auto 0;
	padding:0;
	width:130px;
	height: 130px;
	background:url(img/app.png) no-repeat center center;
	background-size: 100% 100%;
}
.user-msg a{
	padding-left: 1.25rem;
	background:url(img/msgcenter.png) no-repeat 2px;
}
.user-msg span{
	display:inline-block;
	width:53px;
}
.user-msg i{
	display: inline-block;
    width: 1.66em;
    font-style: normal;
    position: relative;
}
#header-service{
	display: inline-block;
	width: 9px;
    height: 4px;
    margin-left: 10px;
   background:url(img/comSprite.png) 0 -102px no-repeat;	
}
.user-server{
	position: relative;
}
.hoverBox{
	position: absolute;
	display: none;
    top: 25px;
    left: -33px;
    z-index: 115;
}
.hoverBox>i{
	position: relative;
    z-index: 1;
    display: block;
    width: 30px;
    height: 15px;
    margin: 0 auto;
    background: url(img/triangle.png) no-repeat;
    background-size: 100% 100%;
}
.hoverBox>ul{
	min-width:136px;
    padding: 10px 0;
    border-radius: 4px;
    background: #fff;
    box-shadow:0 1px 10px 4px rgba(0,0,0,.05);
}
.hoverBox>ul>li{
	width:100%;
	display: inline-block;
}
.hoverBox>ul>li>a{
	text-align: center;
	display: block;
    height: 40px;
    padding: 0 15px;
    line-height: 40px;
    font-size: 16px;
    color: #333;
}
.hoverBox>ul>li>a:hover{
	color: #333;
    background: #f0f0f0;
}
.hoverBox>ul:after{
	content: " ";
	display: block;
	visibility: hidden;
	height: 0;
	clear: both;
	overflow: hidden;
}
#hasmgs{
	visibility: hidden;
    width: 5px;
    height: 5px;
    background: #F43431;
    position: relative;
    z-index: 122;
    display: inline-block;
    border-radius: 50%;
    top: -7px;
    left: -3px;
}
.user-shopCar{
	margin-left:1.125rem; 
	width: 6.875rem;
	background-color: #523669;
}
.user-shopCar a{
	display: inline-block;
	line-height: 30px;
	padding:8px 0 6px 1.25rem;
	text-align: center;
	width: 5.62rem;
	background:url(img/shopCar.png) no-repeat 15px;
	cursor:pointer;
}
.user-shopCar a i{
	 font-style: normal;
}
/*nav-css*/
.nav-index{
	position:absolute;
	top:30px;
	z-index: 10;
	background-color:#FFFFFF;
	height:145px;
	width:100%;
	border-bottom:1px solid rgba(0,0,0,0.05);
}
.nav-index a:hover{
	color:#f7b200;
}
.nav-child{
	width: 1080px;
	margin:0 auto;
	height:145px;
}
.logoImg{
	position: absolute;
	width: 14.9rem;
	height:6.12rem;
	background:url(img/logo.png) no-repeat 0 center;
}
.nav-tap{
	width:28.5rem;
	height:2.5rem;
	position: absolute;
	bottom:0;
}
.nav-tap span{
	float:left;
	display: inline-block;
	width:11.25rem;
	height:2.5rem;
	line-height: 2.5rem;
	padding-left: 1.25rem;
	background-color: #F2F2F2;	
} 
.nav-tap i{
	font-style:normal;
	display: inline-block;
	width: 0.93rem;
	height: 0.75rem;
	line-height: 2.5rem;
	margin-right:0.625rem;
	background: url(img/nav-list.png);
}
.nav-child .nav-tap ul{
	float: left;
	height: 2.5rem;
	line-height: 2.5rem;
}
.nav-tap ul li{
	display: inline-block;
	width: 7.8rem;
	text-align: center;
	line-height: 1rem;
	cursor:pointer;
	height:1rem;
	list-style: none;
	color:#F2F2F2;
}
.nav-tap ul li:nth-child(1){
	border-right:1px solid #CCCCCC;
}
.nav-tap ul li a{
	text-decoration:none;
	color:#000;
}
.nav-tap:after{
	content:"";
	display: block;
	height:0;
	visibility:hidden;
	clear:both;
}
/*nav-fixed*/
.nav-fixed{
	position: relative;
	display: none;
	float: left;
}
.nav-fixed>p{
	height: 60px;
    line-height: 60px;
    cursor: pointer;
}
.nav-fixed>p>span{
	display: inline-block;
	color:gray;
	font-size: 16px;
}
.nav-fixed>p>i{
	display: inline-block;
	width: 15px;
    height: 8px;
    margin-left: 6px;
	background:url(img/fixedDown.png) no-repeat center center;
	background-size: 100% 100%;	
}
.nav-fixed>p:hover>i{
	transition:transform 0.5s ease-in 0;
	transform:rotateX(180deg);
}
/*search-css*/
.nav-search {
	position:relative;
	float:right;
	width:33.8rem;
	margin-top:30px;
}
.nav-search p{
	border:1px solid #CCCCCC;
	background-color: #fff;
	border-radius:4px;
}
.searchInput{
	font-size:1rem;
	margin-left:10px;
	margin-right: 0;
	width: 488px;
	height:38px;
	outline:none;
	border:0;
	border-radius:4px;
}
.searchImg{
	display: inline-block;
	width: 39px;
	height: 38px;
	vertical-align:top;
	border-left:1px solid #ccc;
	background:url(img/search.png) no-repeat center center;
} 
.searchUl{
	
}
.searchUl li{
	list-style: none;
	float: left;
}
.searchUl li a{
	margin-right:20px;
	color:gray;
	font-size:0.75rem;
	cursor:pointer;
	text-decoration: none;
	display: inline-block;
	line-height: 35px;
}
/*固定导航栏*/
.nav-retract{
	position:fixed;
	top:0;
	width:100%;
	height:60px;
	background-color:#FFFFFF;
	z-index: 100;
}
.nav-retract div:first-child{
	width:1080px;
	height:60px;
	margin:0 auto;
}
.nav-retract>div:first-child>a{
	display:none;
}
.nav-retract>div>div:nth-child(2){
	display: none;
}
.nav-retract>div>div:nth-child(3){
	display:block;
}
.nav-retract>div>div:nth-child(4){
	position:relative;
	margin-top:10px;
	width:auto;
}
.nav-retract>div div:nth-child(4)>p>input{
	width: 298px;
    height: 38px;
    padding-left: 10px;
    border: 0;
    line-height: 38px;
    color: #333;
    font-size: 16px;
    border-radius: 3px;
    vertical-align: middle;
}
.nav-retract>div>div:nth-child(4){
	position:relative;
	margin-top:10px;
}
.nav-retract>div>div:nth-child(4) ul{
	display: none;
}
.fixed-menu{
	display: none;
}
/*右边栏*/
.right-menu{
	cursor: pointer;
	position: fixed;
	top:50%;
	left:50%;
	bottom:100px;
	margin-left:551px;
	z-index: 100;
}
.right-menu ul{
	width:48px;
	height: 240px;
	list-style: none;
}
.right-menu ul li{
	width:48px;
	height: 48px;
	list-style: none;
}
.right-menu ul li:first-child{
	position: relative;
	background: url(img/rightBar-code.png);
}
.right-menu ul li:first-child:hover{
	background: url(img/rightBar-codeActive.png);
}
.right-menu ul li:nth-child(2){
	display: none;
	background: url(img/rightBar-top.png);
}
.right-menu ul li:nth-child(2):hover{
	background: url(img/rightBar-topActive.png);
}
.right-menu ul li:nth-child(3){
	background: url(img/rightBar-phone.png);
}
.right-menu ul li:nth-child(4){
	background: url(img/rightBar-serve.png);
}
.right-menu ul li:nth-child(4):hover{
	background: url(img/rightBar-serveActive.png);
}
.right-menu ul li:nth-child(5){
	background: url(img/rightBar-share.png);
}
.right-menu ul li:nth-child(5):hover{
	background: url(img/rightBar-shareActive.png);
}
.QR-code{
	display: block;
	position: absolute;
	top: -65px;
    left: -310px;
    display: none;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0 1px 10px 4px rgba(0,0,0,.05);
    background: #fff;

}
.QR-code>span{
	display: inline-block;
	position: absolute;
    top: 50%;
    right: -15px;
	background:url(img/right-triangle.png);
	margin-top:-15px;
	width:15px;
	height:30px;
	background-size:100% 100%;
}
.QR-code dl{
	padding: 4px 4px 10px;
	float:left;
}
.QR-code dl:nth-child(2) dd:first-child{
	width:143px;
	height:143px;
	background:url(img/wxCode.jpg);
	background-size:100% 100%;
}
.QR-code dl:nth-child(3) dd:first-child{
	width:130px;
	height:130px;
	background:url(img/app.png);
	background-size:100% 100%;
}
.QR-code dl:nth-child(3){
	padding: 10px 10px 10px;
}
.QR-code dl:nth-child(2) dd:last-child{
	margin-top:3px;
	text-align: center;
    color: #523669;
    font-size: 14px;
}
.QR-code dl:nth-child(3) dd:last-child{
	margin-top: 10px;
    text-align: center;
    color: #523669;
    font-size: 14px;
}
/*左侧菜单*/
.menu{
	height:340px;
	position: absolute;
	top:10px;
	left:0;
	z-index: 10;
	padding:10px 0;
	list-style: none;
	background:url(img/category-back.png);
}
.menu-li{
	width: 12.5em;
}
.menu-li-p{
	line-height: 34px;
	height: 34px;
	color:#fff;
	text-align: center;
	font-size: 1em;
}
.menu-li-p a{
	text-decoration:none;
	color:#fff;
	font-size: 14px;
	cursor:pointer;
}
.menu-li-p a:hover{
	color:#f7b200;
}
.menu-li-p span{
	margin:0 5px;
}
.menu-li-p-list{
	list-style: none;
	padding-top: 10px;
	padding-bottom:10px;
	position: absolute;
	top:0;
	left:200px;
	display: block;
	width:43.75em;
	min-height:20.69em;
	background-color: #fff;
	box-shadow: 1px 0 15px 5px rgba(0,0,0,.05);
}
.menu-li-p-list i{
	font-style:normal;
	/*display: inline-block;*/
}
.menu-li-p-list{
	line-height: 34px;
	display: none;
}
.menu-li-p-list li>a{
	text-decoration:none;
	display: inline-block;
    width: 62px;
    margin: -2px 10px 0;
    line-height: 14px;
    text-align: right;
    font-size: 14px;
    color: #333;
    vertical-align: middle;	
}
.menu-li-p-list li:after{
	content: "";
	display: block;
	height: 0;
	visibility: hidden;
	clear:both;
	overflow: hidden;
}
.menu-li-p-list li>ul{
	list-style: none;
	vertical-align: top;
	float: right;
    width: 567px;
    margin: 0 20px 0 14px;
    border-bottom: 1px solid #f2f2f2;	
}
.menu-li-p-list li:last-child>ul{
	border-bottom:0;
}
.menu-li-p-list li>ul>li{
	float:left;
}
.menu-li-p-list li>ul>li a{
	text-align: center;
	font-size: 12px; 
    color: gray;
}
.menu-li-p-list li>ul>li a:hover{
	color:#000;
}
/*分享弹框*/
.enjoy-box{
	position: fixed;
    top: 0;
    left: 0;
    z-index: 110;
    display: none;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,.5);
    /*	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F000000, endColorstr=#7F000000)*/
}
.enjoy-main{
	position: absolute;
    top: 50%;
    left: 50%;
    width: 450px;
    margin-left: -245px;
    margin-top: -115px;
    padding: 0 20px 25px;
    background-color: #fff;
}
.enjoy-main>p{
	position: relative;
    height: 40px;
    border-bottom: 1px dotted #ccc;
    line-height: 40px;
    font-size: 18px;
    background-color: #fff;
}
.enjoy-main>p>i{
	position: absolute;
    top: 14px;
    right: 5px;
    display: block;
    height: 16px;
    width: 16px;
    background:url(img/cls.png) no-repeat;
}
.code-main{
	padding-top: 15px;
    overflow: hidden;
    text-align:center;
}
.code-main>dl{
	float:left;
	font-size: 12px;
	color:#666;
	padding:8px 25px 0 0 ;
	 border-right: 1px solid #e8e8e8;
}
.code-main>dl>dt{
	overflow: hidden;

}
.code-main>dl>dt>img{
	display: block;
	width:120px;
	height:120px;
}
/*qq weixi weibo*/
.enjoy-main ul{
	float: left;
    padding-top: 40px;
    overflow: hidden;
    vertical-align: middle;
    list-style: none;
}
.enjoy-main ul>li{
	float: left;
    margin-left: 15px;
    vertical-align: middle;
    cursor:pointer;
}
.enjoy-main ul>li a{
	display:block;
    width: 50px;
    height: 50px;
    vertical-align: middle;
    background: url(img/share_new.png) no-repeat;
}
.enjoy-main ul>li:nth-child(1) a{
	background-position: -10px -190px;
}
.enjoy-main ul>li:nth-child(2) a{
	background-position: -10px -130px;
}
.enjoy-main ul>li:nth-child(3) a{
	background-position: -10px -70px;
}
.enjoy-main ul>li:nth-child(4) a{
	background-position: -10px -10px;
}

.enjoy-main ul>li span{
	display: block;
    margin-top: 15px;
    font-size: 14px;
    color: #666;
}
/*右边栏-css*/
/*右边栏*/
.right-menu{
	cursor: pointer;
	position: fixed;
	top:50%;
	left:50%;
	bottom:100px;
	margin-left:551px;
	z-index: 100;
}
.right-menu ul{
	width:48px;
	height: 240px;
	list-style: none;
}
.right-menu ul li{
	width:48px;
	height: 48px;
	list-style: none;
}
.right-menu ul li:first-child{
	position: relative;
	background: url(img/rightBar-code.png);
}
.right-menu ul li:first-child:hover{
	background: url(img/rightBar-codeActive.png);
}
.right-menu ul li:nth-child(2){
	display: none;
	background: url(img/rightBar-top.png);
}
.right-menu ul li:nth-child(2):hover{
	background: url(img/rightBar-topActive.png);
}
.right-menu ul li:nth-child(3){
	background: url(img/rightBar-phone.png);
}
.right-menu ul li:nth-child(4){
	background: url(img/rightBar-serve.png);
}
.right-menu ul li:nth-child(5){
	background: url(img/rightBar-share.png);
}
.right-menu ul li:nth-child(5):hover{
	background: url(img/rightBar-shareActive.png);
}
.QR-code{
	display: block;
	position: absolute;
	top: -65px;
    left: -310px;
    display: none;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0 1px 10px 4px rgba(0,0,0,.05);
    background: #fff;

}
.QR-code span{
	display: inline-block;
	position: absolute;
    top: 50%;
    right: -15px;
	background:url(img/right-triangle.png);
	margin-top:-15px;
	width:15px;
	height:30px;
	background-size:100% 100%;
}
.QR-code dl{
	padding: 4px 4px 10px;
	float:left;
}
.QR-code dl:nth-child(2) dd:first-child{
	width:143px;
	height:143px;
	background:url(img/wxCode.jpg);
	background-size:100% 100%;
}
.QR-code dl:nth-child(3) dd:first-child{
	width:130px;
	height:130px;
	background:url(img/app.png);
	background-size:100% 100%;
}
.QR-code dl:nth-child(3){
	padding: 10px 10px 10px;
}
.QR-code dl:nth-child(2) dd:last-child{
	margin-top:3px;
	text-align: center;
    color: #523669;
    font-size: 14px;
}
.QR-code dl:nth-child(3) dd:last-child{
	margin-top: 10px;
    text-align: center;
    color: #523669;
    font-size: 14px;
}
/*foot-css*/
.flooter{
	margin-top:3.75em;
	width:auto;
	background-color:#fff;
}
.sever{
	width:1080px;
	margin:0 auto;
}
.foot-sever{
	width: 1080px;
	height:7.5em;
	border-bottom:1px solid #CCCCCC;
}
.foot-sever:after{
	content: " ";
	display: block;
	visibility:hidden;
	clear:both;
	height: 0;
}
.foot-sever li{
	list-style: none;
	float:left;
	width: 16.87em;
	height:7.5em;
}
.foot-sever li dl{
	width: 16.87em;
	height:7.5em;
	text-align: center;
}
.foot-sever li dl dd{
	display:inline-block;
	vertical-align:middle;
	line-height:7.5em;
	text-align: center;
}
.foot-sever li dt{
	display:inline-block;
	vertical-align:middle;
	width:5em;
	height:5em;
	margin-left:15px;
}
.foot-sever li:nth-child(1) dt{
	
	background:url(img/f1.png);
}
.foot-sever li:nth-child(2) dt{
	
	background:url(img/f2.png);
}
.foot-sever li:nth-child(3) dt{

	background:url(img/f3.png);
}
.foot-sever li:nth-child(4) dt{
	
	background:url(img/f4.png);
}
/*foot-main-css*/
.foot-main{
	margin-top:1.875em;
	position: relative;
}
.foot-main:after{
	content: " ";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
	font-size:0;
}
.foot-main li{
	list-style: none;
}
.list-contain{
	float:left;
	padding-left:3.125em;
	border-right: 1px solid #CCCCCC;
}
.list-contain:after{
	content: " ";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}

/*>择器 只匹配父级下的子代选儿子，不匹配孙子等*/
.list-contain>li{
	float: left; 
	margin-right:7.5em;
}
.list-child-App{
	display: block;
	margin:0;
	padding:0;
	width:6.56em;
	height:6.56em;
	margin-top:0.94em;
	background: url(img/footer-main-app.png) no-repeat center center;
	background-size: 100% 100%;
}
.list-contain li h2{
	display: inline-block;
	font-size: 1rem;
	color:#333;
	font-weight:400;
}
.list-mail{
	text-align: center;	
}
.list-mail dt{
	font-size: 1em;
}
.list-mail dd{
	font-size: 0.75em;
	margin-top: 1.87em;
	color:gray;
}
.list-childContain{
	margin-top:30px;
}
.list-childContain:after{
	content: " ";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}
.list-childContain li{
	height:1em;
	margin-bottom: 10px;
	margin-right:0;
	display:block;
}
.list-childContain li a{
	text-decoration: none;
	font-size:12px;
	color:gray;
	display: block;
}
/*官方微信*code*/
.list-childContain>li:nth-child(1){
	position: relative;
}
.list-childContain .weix-code{
	display: none;
	position: absolute;
	top: -46px;
    left: 62px;
	border-radius: 4px;
    box-shadow: 0 1px 10px 4px rgba(0,0,0,0.05);
}
.list-childContain .weix-code>i{
    position: absolute;
    top: 40px;
    left: -15px;
    display: block;
	width:15px;
	height:30px;
	margin:auto 0;
	background:url(img/left-triangle.png) no-repeat;
	background-size:100%;
}
.list-childContain .weix-code>span{
	display: block;
	width:114px;
	height:114px;
	background:url(img/wxCode.jpg) no-repeat;
	background-size:100%;
}
/*foot-info*/
.foot-info{
	margin-top: 3.75em;
}
.foot-info p{
	margin-bottom: 10px;
	height: 17px;
	padding:0;
	text-align: center;
}
.foot-info p a{
	text-decoration:none;
	vertical-align:middle;
	display:inline-block;
	font-size:0.75rem;
	line-height: 0.75rem;
	color:gray;
}
.foot-info p span{
	display: inline-block;
	font-size: 0.75rem;
	line-height: 1rem;
	margin:0 10px;
	color:gray;
	vertical-align:top;
}
/*weixi-code*/
.weixi-code{
	
}